/* 
general 
-------
*/

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

body {
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}

.ant-drawer-body {
  padding: 0px;
}

.shell__outer-layout .ant-layout-header {
  padding: 0;
  height: auto;
  line-height: 1.6;
}

#app {
  height: 100%;
}

.app__settings-button {
  position: fixed;
  right: 0px;
  top: 50vh;
  z-index: 9;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

/* 
topBar
------ 
*/
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
  padding-top: 7px;
  padding-bottom: 12px;
  margin-bottom: 0px;
  box-shadow: 0 24px 64px -2px rgb(0 0 0 / 2%), 0 6px 16px -2px rgb(0 0 0 / 6%),
    0 2px 6px -2px rgb(0 0 0 / 8%);
}

.header .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 5px 0 0 15px;
}

.header .logo .fas {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header .ant-menu {
  border: 0;
  background: none !important;
  min-width: 100px;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  /* color: #333; */
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}

/* inner shell */
.shell__inner-layout {
  margin: 24px 0px 0;
  overflow: initial;
  margin-top: 55px;
}

/* 
header 2 
----
*/

.header2 {
  display: flex;
  align-items: center;
  z-index: 2;
  padding-top: 11px;
  padding-bottom: 11px;
  box-shadow: 0 24px 64px -2px rgb(0 0 0 / 2%), 0 6px 16px -2px rgb(0 0 0 / 6%),
    0 2px 6px -2px rgb(0 0 0 / 8%);
}

.header2 .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}

.header2 .logo .fas {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.header2 .ant-anchor-wrapper {
  background: none;
}

.header2 .ant-anchor {
  display: flex;
}

.header2 .ant-anchor-ink {
  display: none;
}

.header2 .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header2 .ant-anchor-link:before,
.header2 .ant-anchor-link:after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header2 .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header2 .ant-anchor-link.ant-anchor-link-active:before,
.header2 .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header2 .ant-anchor-link.ant-anchor-link-active:after,
.header2 .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header2 .ant-menu {
  border: 0;
  background: none !important;
  min-width: 100%;
}

.header2 .ant-menu li.ant-menu-item {
  position: relative;
}

.header2 .ant-menu li.ant-menu-item:before,
.header2 .ant-menu li.ant-menu-item:after {
  content: "";
  background: #1890ff;
  width: 0px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 1;
  transition: all 0.3s linear;
}

.header2 .ant-menu li.ant-menu-item-active .subMenuExpandIcon {
  transform: rotate(180deg);
  transition: all 0.45s linear;
}

.header2 .ant-menu li.ant-menu-item .subMenuExpandIcon {
  transition: all 0.45s linear;
}

.header2 .ant-menu li.ant-menu-submenu-open .subMenuExpandIcon {
  transform: rotate(180deg);
  transition: all 0.45s linear;
}

.header2 .ant-menu li.ant-menu-submenu .subMenuExpandIcon {
  transition: all 0.45s linear;
  margin-left: 7px;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
}

.header2 .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 10%;
  border: 0 !important;
}

.header2 .ant-menu li.ant-menu-item,
.header2 .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header2 .ant-menu li.ant-menu-item-selected,
.header2 .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  border: 0 !important;
}

.header2 .ant-menu li.ant-menu-item-selected:before,
.header2 .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
  border: 0 !important;
}

.header2 .ant-menu li.ant-menu-item-selected:after,
.header2 .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
  border: 0 !important;
}

/* 
footer
------
*/
.ant-layout-footer {
  background: #111 !important;
  color: #fff !important;
  padding: 60px 0 !important;
  text-align: center;
}

.footer .logo {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 20px;
  background: #111;
}

.footer .fas {
  color: #1890ff;
  font-size: 28px;
  margin: 0 5px 0 0;
}

.footer .logo a {
  color: #fff;
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: #fff;
}

.footer .socials a:hover {
  color: #1890ff;
}

.footer .goTop:hover {
  opacity: 0.7;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

.mobileHidden2 {
  display: block;
  width: 100%;
}

/* resposnive classes */

.shell__content-layout {
  padding: 0 24px 24px;
  height: 100vh;
}

.shell__content-layout_horizontal {
  margin-left: 0px;
  transition: 200ms;
  margin-top: 40px;
}

.shell__content-layout_vertical {
  margin-left: 187px;
  transition: 200ms;
  margin-top: 0px;
}

.shell__content {
  margin: 24px 16px 0;
  overflow: initial;
  margin-top: 0px;
  padding: 24px;
  text-align: center;
  min-height: 40vh;
}
/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
  .mobileVisible {
    display: flex;
  }

  .mobileHidden {
    display: none;
  }

  .shell__content-layout_horizontal {
    margin-left: 0px;
    margin-top: 0px;
    transition: 200ms;
  }

  .shell__content-layout_vertical {
    margin-left: 0px;
    transition: 200ms;
  }
}
